<%= form_tag(person_path(id: @person['id']), method: :put) do %>
    <label for="firstname">First name</label>
    <input type="text" name="firstname" placeholder="First name" value="<%= @person['person_name']['firstname'] %>"
           helpText="First name" />

    <label for="lastname">Last name</label>
    <input type="text" name="lastname" placeholder="Last name" value="<%= @person['person_name']['lastname'] %>"
           helpText="Last name" />

    <label for="gender">Gender</label>
    <input type="text" name="gender" placeholder="Gender" value="<%= @person['gender'] %>"
           helpText="Gender" /> 

    <label for="birthdate">Birth date</label>
    <input type="text" name="birthdate" placeholder="Birth date" value="<%= @person['birthdate'] %>"
           helpText="Birthdate" />

    <input type="submit" />
<% end %>