<%= form_tag( 'path' , remote: true) do |f| %>
    <%= label_tag(:person, 'Person:') %>
    <%= number_field_tag(:person, value: @user['person']['id']) %>
    <span class="helptext">Associate user with person identified by this id</span>

    <%= label_tag(:role, 'Role:') %>
    <%= select_tag(:role, options_for_select([['Clerk', 'clerk'], ['Manager', 'manager']])) %>

    <%= submit_tag %>
<% end %>