  <h5 class="trunk-header">Users</h5>
  <table class="table table-responsive">
    <thead>
      <th>id</id>
      <th>uuid</th>
      <th>Username</th>
      <th>Role</th>
      <th>Action</th>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user['id'] %></td>
          <td><%= user['uuid'] %></td>
          <td><%= user['username'] %></td>
          <td><a href="#"><%= user['role']['rolename'] %></a></td>
          <td>
            <a href="#"><%= link_to('View', user_path(user['id'])) %></a>
            |
            <a href="#"><%= link_to('Edit', edit_person_path(user['person']['id'])) %></a>
            |
            <a href="#"><%= link_to('Delete', user_path(user['id']), method: :delete, confirm: 'Are you sure?') %></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>