<h1 class="trunk-header">User</h1>
<h5><%= @user['person']['person_name']['firstname'] %> <%= @user['person']['person_name']['lastname'] %></h5>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <table class="table table-responsive">
      <tbody>
        <tr>
          <td>id:</id>
          <td><%= @user['id'] %></td>
        </tr>
        <tr>
          <td>uuid:</td>
          <td><%= @user['uuid'] %></td>
        </tr>
        <tr>
          <td>username:</td>
          <td><%= @user['username'] %></td>
        </tr>
        <tr>
          <td>Role</td>
          <td><a href="#"><%= @user['role']['rolename'] %></a></td>
        </tr>
        <tr>
          <td>Active</td>
          <td><%= @user['active'] %></td>
        </tr>
        <tr>
          <td>Created</td>
          <td><%= @user['created_at'] %></td>
        </tr>
        <tr>
          <td>Modified</td>
          <td><%= @user['updated_at'] %></td>
        </td>
      </tbody>
    </table>
  </div>

  <div class="col-md-6 col-sm-12">
    <table class="table table-responsive">
      <tbody>
        <tr>
          <td>First name</td>
          <td><%= @user['person']['person_name']['firstname'] %></td>
        </tr>
        <tr>
          <td>Last name</td>
          <td><%= @user['person']['person_name']['lastname'] %></td>
        <tr>
        <tr>
          <td>Date of birth</td>
          <td><%= @user['person']['birthdate'] %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <%= link_to('Edit', edit_person_path(@user['person_id']), class: 'btn btn-warning col-sm-3') %>
  <div class="col-sm-1"></div>
  <%= link_to('Delete', user_path(@user['id']), method: :delete,
                                  data: {confirm: 'Are you sure?'}, class: 'btn btn-danger col-sm-3') %>
</div>