  <h1 class="trunk-header">Patients</h1>
  <table class="main-content table table-responsive">
    <thead>
      <tr class="header">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>D.O.B</th>
      </tr>
    </thead>

    <tbody>
      <% @patients.class 
      @patients.each do |patient| %>
      <tr>
        <td><%= patient['person']['person_name']['firstname'] %></td>
        <td><%= patient['person']['person_name']['lastname'] %></td>
        <td><%= patient['person']['gender'] %></td>
        <td class="actions">
          <%= link_to("Show", patient_path(patient['id']), :class => 'action show') %>
          |
          <%= link_to('Edit', edit_person_path(patient['id'])) %>
          |
          <%= link_to("Delete", '#', :class => 'action delete') %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>