<% unless @patients.nil? or @patients.empty? %>
  <h1 class="trunk-header">Patients</h1>

  <table class="main-trunk table table-responsive">
    <thead>
      <tr class="header">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @patients.each do |patient| %>
      <tr>
        <td><%= patient['person']['person_name']['firstname'] %></td>
        <td><%= patient['person']['person_name']['lastname'] %></td>
        <td><%= patient['person']['gender'] %></td>
        <td class="actions">
          <%= link_to("Show", patient_path(patient['id']), class: 'btn btn-info') %>
          <%= link_to('Edit', edit_person_path(patient['person_id']), class: 'btn btn-warning') %>
          <%= link_to("Delete", patient_path(patient['id']), method: :delete
                                data: { confirm: 'Sure about this?'}, class: 'btn btn-danger') %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-sm-7"></div>
    <%= link_to 'Create patient', patients_new_path, class: 'btn btn-warning col-sm-3', style: 'margin-top: 10px' %>
  </div>
<% else %>
    <h1 class="trunk-header">Patient search</h1>
    <div class="row">
      <div class="col-sm-8">
        <h5>Patient, <%= @search_params[:firstname] %> <%= @search_params[:lastname] %>, not found</h5>
        <p>What would you like to do?
          <%= link_to 'Create patient', patients_new_path(
                          params: {
                              firstname: @search_params[:firstname],
                              lastname: @search_params[:lastname]
                          }
                      ), class: 'btn btn-warning'  %>
          <%= link_to 'Go back', patients_path, class: "btn btn-primary" %>
        </p>
      </div>
    </div>
<% end %>
