<h1 class="trunk-header">Person</h1>
<h2><%= @patient['person']['person_name']['firstname'] %> <%= @patient['person']['person_name']['lastname'] %></h2>

<table class="inline-table pull-left">
  <thead>
    <tr>
      <th>Field</th>
      <th>Value</th>
    </th>
  </thead>

  <tbody>
    <tr>
      <td>id:</id>
      <td><%= @patient['id'] %></td>
    </tr>

  

    <tr>
      <td>Created</td>
      <td><%= @patient['created_at'] %></td>
    </tr>
    <tr>
      <td>Modified</td>
      <td><%= @patient['modified_at'] %></td>
    </td>
  </tbody>
</table>

<table class="inline-table pull-right">
  <thead>
    <tr>
      <th>Field</th>
      <th>Value</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>First name</td>
      <td><%= @patient['person']['person_name']['firstname'] %></td>
    </tr>
    <tr>
      <td>Last name</td>
      <td><%= @patient['person']['person_name']['lastname'] %></td>
    <tr>
    <tr>
      <td>Date of birth</td>
      <td><%= @patient['person']['birthdate'] %></td>
    </tr>
  </tbody>
</table>