<!DOCTYPE html>
<html>
  <head>
    <title>PatientRegistrationFrontEnd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>  <!-- for ES6 modules -->
  </head>

  <body>
    <div id="header" class="row">
      <div class="col-sm-8">
        <div id="information">
          <table>
              <tbody>
                <tr>
                  <td>User:</td>
                  <td><%= @logged_in_user['username'] %></td>
                </tr>
                <tr>
                  <td>Date:</td>
                  <td><%= Time.now.to_date %></td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      <div class="col-sm-4">
        <div id="logo">
          <p>Logo</p>
        </div>
      </div>
    </div>

    <div id="trunk" class="row">
      <div id="programs" class="col-sm-2">
        <h5 class="trunk-header">Programs</h5>
        <ul>
          <li class="current"><%= link_to 'Patients Registry', root_path %></li>
          <li><a href="#">Some Other App</a></li>
        </ul>
      </div>

      <div id="main" class="col-sm-8">
        <%= yield %>
      </div>

      <div id="nav" class="col-sm-2">
        <h5 class="trunk-header">Menu</h5>
        <ul>
          <li><%= link_to('Home', root_path) %></li>
          <li><%= link_to('Patients', patients_path) %></li>
          <% if @logged_in_user['role']['rolename'].match? /admin/i %>
            <li><%= link_to('Users', users_path) %>
          <% end %>
          <li><%= link_to('Reports', reports_path) %></li> <!-- Restrict to admins through UAC checks -->
        </ul>
      </div>
    </div>

    <footer id="footer">
      <div class="col-sm-12">
        <%= link_to('Logout', logout_path, id: 'button-logout', class: 'button') %>
        <%= link_to('Find or Register Patient', patients_search_path, id: 'button-search-patient', class: 'button') %>
      </div>
    </footer>
    <script language="javascript">
      /**
       * HACK: Force a page reload when back button is hit. For some reason the touchtoolkit
       * loaded on pages containing forms stays loaded when the browser navigates backwards.
       * The cached touchtoolkit ends up clobbering and malforming the previous page(s).
       * See the 'form.html.erb' layout file.
       */
      $(() => $(window).on('popstate', () => location.reload(true)));
    </script>
  </body>
</html>
