<!DOCTYPE html>
<html>
  <head>
    <title>PatientRegistrationFrontEnd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="content">
    <div id="header">
      <div id="information">
        <table>
          <tbody>
            <tr>
              <td>User:</td>
              <td><%= @logged_in_user['username'] %></td>
            </tr>
            <tr>
              <td>Date:</td>
              <td><%= Time.now.to_date %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="logo">
        <p>Logo</p>
      </div>
    </div>

    <div id="trunk">
      <div id="programs">
        <h5 class="trunk-header">Quick Links</h5>
        <ul>
          <li><a href="#">This App</a></li>
          <li><a href="#">Some Other App</a></li>
        </ul>
      </div>

      <div id="main">
        <%= yield %>
      </div>

      <div id="nav">
        <h5 class="trunk-header">Menu</h5>
        <ul>
          <li><%= link_to('Home', root_path) %></li>
          <li><%= link_to('Patients', patients_path) %></li>
          <li><%= link_to('Users', users_path) %></li> <!-- Restrict to admins through UAC checks -->
          <li><a href="#">Reports</a></li>
        </ul>
      </div>
    </div>

    <div id="footer">
      <%= link_to('Logout', logout_path, id: 'btn-logout', class: 'btn') %>
      <%= link_to('Find or Register Patient', patients_search_path, id: 'btn-search-patient', class: 'btn') %>
    </div>
  </body>
</html>
